<div class="login_content first_change">
    <h1 class="login_title first_change">ĐỔI MẬT KHẨU</h1>
    <div class="login_wrapper first_change">
        <div class="alert alert-primary" role="alert">
          <p>Đây là lần đầu tiên bạn truy cập vào hệ thống <br>
          Vui lòng đổi mật khẩu để sử dụng các dịch vụ</p>
        </div>
        <div class="login_box first_change">
            <h6 class="login_box-title first_change">Mật khẩu mới</h6>
            <input type="password" id="first_change-new_pass" class="login_box-input">
            <span class="login_box-msg new_pass first_change"></span>
        </div>

        <div class="login_box first_change">
            <h6 class="login_box-title first_change">Xác nhận mật khẩu mới</h6>
            <input type="password" id="first_change-reenter_pass" class="login_box-input">
            <span class="login_box-msg reenter_pass first_change"></span>
        </div>

        <div>
            <span class="login_box-msg last first_change"></span>
        </div>

       <div>
           <button type="button" class="btn btn-primary btn-lg btn-block" onclick="handleFirstChange()" style="background-color: #f89a6b; color:#DAFFED">XÁC NHẬN</button>
       </div>
    </div>
</div>