<div class="login_content forget_pass">
    <h1 class="login_title">QUÊN MẬT KHẨU</h1>
    <div class="login_wrapper forget_pass">
        <div class="login_box forget_pass">
            <h6 class="login_box-title forget_pass">Địa chỉ E-mail</h6>
            <input type="text" name="" id="forget_pass-email" class="login_box-input" placeholder="">
            <span class="login_box-msg forget_pass email"></span>
        </div>

        <div class="login_box forget_pass">
            <h6 class="login_box-title forget_pass">Số điện thoại</h6>
            <input type="number" id="forget_pass-phone_num" class="login_box-input" placeholder="">
            <span class="login_box-msg pass forget_pass"></span>
        </div>

        <div class="login_box forget_pass">
            <h6 class="login_box-title forget_pass">Mật khẩu mới</h6>
            <input type="password" id="forget_pass-new_pass" class="login_box-input">
            <span class="login_box-msg new_pass forget_pass"></span>
        </div>

        <div class="login_box forget_pass">
            <h6 class="login_box-title forget_pass">Nhập lại mật khẩu mới</h6>
            <input type="password" id="forget_pass-reenter_pass" class="login_box-input">
            <span class="login_box-msg reenter_pass forget_pass"></span>
        </div>

        <div>
            <span class="login_box-msg last forget_pass"></span>
        </div>

        <div>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="handleForgetPass()"
                style="background-color: #f89a6b; color:#DAFFED">GỬI MÃ</button>
        </div>

        <div><br>
            <a href="/login" style="text-decoration: none;">Quay lại</a>
        </div>
    </div>
</div>