<form action="users/register" method="post" class="login_content register" enctype="multipart/form-data"
    id="register-form">
    <h1 class="login_title register">ĐĂNG KÝ</h1><br>
    <div class="login_wrapper register">
        <div class="login_box register">
            <h6 class="login_box-title register">Họ tên</h6>
            <input type="text" name="hoten" id="register_box-name" class="login_box-input" placeholder="">
            <span class="login_box-msg phonenumber register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Địa chỉ E-mail</h6>
            <input type="text" name="email" id="register_box-email" class="login_box-input register" placeholder="">
            <span class="login_box-msg email register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Ngày sinh</h6>
            <input type="date" name="dateBirth" id="register_box-date_birth" class="login_box-input register">
            <span class="login_box-msg date_birth register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Địa chỉ</h6>
            <input type="text" name="address" id="register_box-address" class="login_box-input register" placeholder="">
            <span class="login_box-msg address register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Chứng minh nhân dân mặt trước</h6>
            <input type="file" name="cmndTruoc" accept="image/*" id="register_box-id_front"
                class="login_box-input register">
            <span class="login_box-msg front_id register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Chứng minh nhân dân mặt sau</h6>
            <input type="file" name="cmndSau" accept="image/*" id="register_box-id_back"
                class="login_box-input register">
            <span class="login_box-msg back_id register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Số điện thoại</h6>
            <input type="number" name="phoneNumber" id="register_box-phone" class="login_box-input" placeholder="">
            <span class="login_box-msg phonenumber register"></span>
        </div>


    </div>

    <div>
        <span class="login_box-msg last register"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="register_box-btn"
            style="background-color: #f89a6b; color:#DAFFED">ĐĂNG KÝ NGAY</button>
    </div>

    <div class="text-align:end;"><br>
        Đã có tài khoản? <a href="/login" class="login_box-register" style="text-decoration: none; ">Đăng nhập</a>
    </div>
</form>